h1{
    text-align: center;
}

p{
    margin-top: 0;
}

#currentWord{
    letter-spacing: 4px;
}

.content{
    display: flex;
    justify-content: center;
}

.image{
    margin-right: 5px;
}

.main-content{
    margin-left: 5px;
}

.image, .main-content{
    padding: 20px;
    border: dashed;
}